body {
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#cat-container img {
  width: 400px;
  transition: opacity 0.3s ease;
}